AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=us-east-1
S3_ARTIFACT_BUCKET=fn-graph-pipeline-artifacts
LAMBDA_FUNCTION_NAME=fn_graph_worker_lambda
LAMBDA_REGION=us-east-1
DOCKER_WORKER_IMAGE=fn_graph_worker_v2
PIPELINE_RUN_ID=
ARTIFACT_BASE_DIR=./artifacts
